
body
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
background-color:lightgray;
}
h2
{
    color:slategray;
    text-align: center;
}
h3
{
    color:slategray;
    text-align: center;
}
h4
{
    color:slategray;
    text-align: center;
}
p{
    text-align: center;
}
form 
{
    text-align: center;
}
#menu ul
{
margin: 0;
padding: 0;
font-size:1.1em;
list-style-type: none;
text-align: center;
}

#menu ul li { display: inline; }

#menu ul li a
{
text-decoration: none;
padding: .2em 1em;
color: lightslategray;
background-color: #C2D9FE;
border:1px solid #61ADD7;
padding:3px 7px 2px 7px;
}

#menu ul li a:hover
{
color: #C2D9FE;
background-color: lightslategray;
}
/* The grid is used to format a table */
.Grid
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width: 80%;
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
}
.Grid td, .Grid th
{
font-size:1em;
border:1px solid #61ADD7;
padding:3px 7px 2px 7px;
}
.Grid th
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#C2D9FE;
color:lightslategray;
}
.Grid tr.odd td
{
color:#000000;
background-color:#F2F5A9;
}
.Grid tr.even td
{
color:#000000;
background-color:white;
}
.Grid tr.footer
{
font-size:1.1em;
text-align:left;
padding-top:4px;
padding-bottom:3px;
background-color:#C2D9FE;
color:lightslategray;    
}
.Grid head
{
color:#000000;
background-color:#cccccc;
}
input.read
{
background-color:#F2F5A9;
}

/* The Alert is used to format a table */
.Alert
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width: 20%;
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
}
.Alert td, .Alert th
{
font-size:1em;
border:5px solid red;
padding:3px 7px 2px 7px;
}
.Alert th
{
font-size:1.1em;
text-align:center;
padding-top:5px;
padding-bottom:4px;
background-color:white;
color:red;
}